WarehousesUpdateHistory:
  type: entity
  table: warehouses_update_history
  fields:
    pkId:
      id: true
      type: integer
      unsigned: false
      nullable: false
      column: pk_id
      generator:
        strategy: IDENTITY
    reportDate:
      type: string
      length: null
      fixed: false
      nullable: true
      column: report_date
    modifiedDate:
      type: datetime
      nullable: true
      column: modified_date
    ipAddress:
      type: string
      length: 20
      fixed: false
      nullable: true
      column: ip_address
  oneToOne:
    modifiedBy:
      targetEntity: Users
      cascade: {  }
      mappedBy: null
      inversedBy: null
      joinColumns:
        modified_by:
          referencedColumnName: pk_id
      orphanRemoval: false
    warehouse:
      targetEntity: Warehouses
      cascade: {  }
      mappedBy: null
      inversedBy: null
      joinColumns:
        warehouse_id:
          referencedColumnName: pk_id
      orphanRemoval: false
  lifecycleCallbacks: {  }
