
   #map{
	position: relative;
	width:100%;
        height:718px;
	border:1px solid black;
    }
        
   .infoTable{
        width:100%;
        font-size:12px;
        color:black;
        background-color:white;
        }
        
    .infoTable tr td{
        width:120px;
        padding-left: 5px;
    }

    .infoTable tr:hover {
        background-color: #C7F610;
    }
  
    #loader{
        display:none;
        width: 120px;
        height: 120px;
        position:absolute;
        left:45%;
        top:40%;
        z-index: 1000;
    }
  
    #infoDiv{
      display:block;
      position:absolute;
      padding:5px;
      border-radius:5px;
      background-color:green;
      color:white;
      width:auto;
      height:auto;
      top:20%;
      left:2.5%;
      opacity : 0.85;
      z-index: 2000;
    }

    #legendDiv{
        display:none;
        position:absolute;
        padding:5px;
        border-radius:6px;
        background-color:none;
        border:1px solid black;
        width:auto;
        height:auto;
        top:65%;
        left:74%;
        font-size:11px;
        font-weight:bold;
        z-index: 9000;  
       font-family: "Times New Roman", Times, serif;
    }

    #legend{
        width:100%;
        font-size:11px;
        font-weight:bold;
        color:black;
        font-family: "Times New Roman", Times, serif;
    }

    td, th{
        padding:2px;
    }
  
   #mapTitle{
        position: absolute;
        width:41%;
        height:auto;
        top:4%;
        left:1%;
        display:block;
        font-weight:bold;
        text-align:center;
        padding:1px;
        z-index:2000;
        }
        
   #printedDate{
        position: absolute;
        display:none;
        width:auto;
        height:auto;
        top:95%;
        left:1%;
        font-weight:bold;
        font-size:13px;
        text-align:center;
        z-index:2000;
    }
      
     #mosDefination{
        display:none;
        position:absolute;
        padding:5px;
        border:1px solid green;
        width:auto;
        height:auto;
        top:45%;
        font-family: "Open Sans",sans-serif;
        font-weight: 600;
        left:76%;
        z-index: 1000;
        border-radius:5px;
    }
    
    #mosRanges{
        width:100%;
        font-weight: 600;
        font-size:11px;
    }
        
     
    .boldText{
        font-family: "Open Sans",sans-serif;
        font-weight: bold;
        font-size:12px;
    }
    
    .undo{
        border-radius: 0 !important;
        border-width: 0;
        box-shadow: none !important;
        font-family: "Open Sans",sans-serif;
        font-size: 11px;
        outline: medium none !important;
        padding: 4px 10px;
        color:white;
        text-decoration: none;
        cursor:pointer;
        underline:none;
        background-color : rgb(53, 170, 71);
    }
     .undo:hover{
        background-color: green;
        color:white;
    }
    
    #prod_limit{
        position: absolute;
	width:auto;
        height:auto;
        top:55%;
        left:80%;
        color:red;
        font-weight:bold;
        font-family: "Open Sans",sans-serif;
        font-size:10px;
        text-align:center;
        z-index:2000;
    }
    
    #image{
        cursor:pointer;
        z-index:100;
        display:block;
        width: 35px;
        height: 35px;
        position:absolute;
        left:89%;
        top:2%;
    }

    #excel{
        cursor:pointer;
        z-index:100;
        display:block;
        width: 35px;
        height: 35px;
        position:absolute;
        left:92%;
        top:2%;
    }
    
    #print{
        cursor:pointer;
        z-index:100;
        display:block;
        width: 35px;
        height: 35px;
        position:absolute;
        left:95%;
        top:2%;
    }

    .col-md-2,.col-md-6,.col-md-7,.col-md-3,.col-md-10,.col-md-9,.col-md-5,.col-md-8,.col-md-4{
            padding-right:2px;
            padding-left:2px;
        }
    .col-md-12{
            padding-right:2px;
            padding-left:2px;
    }
    
     #customZoom {
                z-index: 1001;
                position: relative;
                top: 20px;

        }
            
        #customZoom a {
                text-decoration: none;
                position: absolute;
                display: block;
                left:90%;
                width: 60px;
                height:22px;
                text-align: center;
                font-weight: bold;
                color: white;
                background: green;
                border: 1px solid #ccc;
                border-radius: 3px;
                font-size:13px;
            }
            
        #customZoom a:hover {
                background: #036;
        }
            
        #customZoomOut {
                top: 25px;
        }
            
            
        #districtRanking{
             width:100%;
             height:350px;
             overflow: auto;    
       }
            
        #attributeGrid{
             width:100%;
             height:350px;
             overflow: auto;    
        }
        
        #slider label {
                position: absolute;
                width: 10px;
                margin-left: -10px;
                text-align: center;
                margin-top: 20px;
                font-size:13px;
                cursor:pointer;
        }

  
        #slider{
                width: 90%;
                margin: 2em auto;
                background:#F0F0F0; 
                border:1px solid green;
        }
            
        .hide_td{
                padding:0px;
                margin :0px;
        }
        
        input[type="radio"], input[type="checkbox"]{
            margin : 1px 2px 0;
        }
        
        #ucs_list{overflow-y: auto;height:210px;}
        
        #batch_list{overflow-y: auto;height:210px;}
        
        #_list{overflow-y: auto;height:230px;}
        
        
              .CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 5px 5px 5px #888888;
	border:1px solid #3f7f00;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#d4ffaa; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:4px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

	background-color:#5fbf00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


        #tehsilPie{
             width:100%;
             height:350px;
             overflow: auto;    
        }
           
        #ucStock{
            width:100%;
            height:325px;
            overflow: auto; 
        }