/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
        border-radius: 4px !important;
}

.portlet .portlet-title {
        border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
        border-radius: 0px 0px 4px 4px !important;
}
*/
/* Breadcrumb*/
.breadcrumb{
    padding: 0px 15px;
    margin-bottom: 0px !important;
    background-color: #f2f2f2;
}
.breadcrumb-border-left{
    border-right: 1px solid #0b5b9e;
    padding-right: 15px
}
.lightgrey{
    background-color: #f2f2f2;
    color:#929292;
    height: 38px;
    border-left: 1px solid #1786e4;
}
.header-menu{
    background-color: #1786e4;
    line-height: 38px;
    border-top: 7px solid #1786e4 !important;
    border-bottom: 1px solid #1786e4;
}

/* Different Colors Schemes */
.green-clr{ background: #019c00 !important;}
.charcol-clr{ background: #626262 !important;}
.grey-color{ background-color: #e8e8e8 !important;}
.mehroon-clr{ color: #df014a; }

/*Dashboard*/
.welcm{ color: #fff; font-size:20px; text-transform: uppercase;}
.welcm span{ font-size: 15px; text-transform: none; font-weight: 600;}

.user-hide{ display:none;}
.user-show{ display:block;}


.page-content{
    background-image: url(../img/memuShadow.png);
    background-position: left;
    background-repeat: repeat-y;
    background-position: -6px;
}

.footer{ background-color: #1786e4; font-weight: 600;}
.footer-inner{ color: #fff !important;}
.nav.navbar-nav.partners > li{ padding: 6px;}
.stackholders{ background-color: #1786e4; padding: 5px; margin-left: 20px; color: #fff;}
.footer-stackholders{background: #fff; border-top: 1px solid #acacac; padding: 5px;}
.bg-white{ background-color: #fff;}


.page-sidebar-menu > li > ul >li.open >ul.sub-menu a{ color: #fff;}




/*Use Existing Tab*/
.widget.widget-tabs > .widget-head.dashboard-widget ul li.active{
    height: 58px !important; /*78*/

}
.widget > .widget-head dashboard-widget{ height: 78px;}
.widget.widget-tabs > .widget-head.dashboard-widget ul li a{ height: 59px !important; font-size: 14.75px !important; font-weight:600 !important;}
.widget.widget-tabs > .widget-head.dashboard-widget ul li{ height: 59px !important;}
.widget.widget-tabs > .widget-head.dashboard-widget ul li a span{ font-size: 18px !important;}

.widget.widget-tabs > .widget-head.dashboard-widget ul li.active{ background-color: #ccc !important;} /*f2f2f2*/
.widget.widget-tabs > .widget-head.dashboard-widget ul li.active a{ color: #353434 !important;}

.widget.widget-tabs > .widget-head.dashboard-widget {
    background: none repeat scroll 0 0 #fff !important;
    border-color: #e5e5e5 !important;
}

.dashboard-title-1{
    font-size: 14px;
    color:#353434;

}
.dashboard-title-2{
    color: #353434;
    font-size: 16px;
    margin-top: -10px;

}

.widget-head.dashboard-widget{ height: 59px; }
.widget-head.dashboard-widget {
    height: 59px;
}

.dashboard-stat_custom .details{ font-size: 14px;}
.dashboard-stat_custom {
    margin-bottom: 25px;
    overflow: hidden;
}
.dashboard-stat_custom:before, .dashboard-stat_custom:after {
    content: " ";
    display: table;
}
.dashboard-stat_custom:after {
    clear: both;
}
.portlet .dashboard-stat_custom:last-child {
    margin-bottom: 0;
}
.dashboard-stat_custom .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 8px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
    padding-right: 15px;
}
.dashboard-stat_custom .visual > i {
    margin-left: 0px;
    font-size: 110px;
    line-height: 110px;
}
.dashboard-stat_custom .details {
    /* position: absolute;
     right: 15px;
     padding-right: 15px;
     
     padding-top: 12px;*/
}
.dashboard-stat_custom .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: 300;
}
.dashboard-stat_custom .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
}
.dashboard-stat_custom .more {
    clear: both;
    display: block;
    padding: 6px 10px 6px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.dashboard-stat_custom .more:hover {
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.dashboard-stat_custom .more > i {
    display: inline-block;
    margin-top: 1px;
    float: right;
}

.widget.widget-tabs > .widget-head ul{ padding-left: 0px !important; }

.checkb-box-red{ background: red; height: 15px; width: 15px; float: right; margin-top: 2px; margin-left: 10px;}
.checkb-box-blue{ background: blue; height: 15px; width: 15px; float: right; margin-top: 2px; margin-left: 10px;}
.checkb-box-green{ background: green; height: 15px; width: 15px; float: right; margin-top: 2px; margin-left: 10px;}
.checkb-box-sky{ background: #6bceff; height: 15px; width: 15px; float: right; margin-top: 2px; margin-left: 10px;}
.report-tab{color: #575757; padding-left: 10px; width: 100%;}
.report-tab li span{ font-size: 11px;}
.report-tab li{ padding: 10px; font-family: 'Open Sans'; font-size: 11px; line-height: 18px;}
.report-value-orange{ color: #1786e4; font-size: 23px; }
.report-value-green{ color: #009c00; font-size: 23px; }

.nav.navbar-nav.report-value-tab-left li:last-child{ padding-left: 0px; padding-top: 10px; padding-bottom: 10px; border-right: 1px solid #ccc;}
.nav.navbar-nav.report-value-tab-left li{ padding-right: 12px; padding-left: 12px; padding-top: 10px; padding-bottom: 10px;}

.nav.navbar-nav.report-value-tab-right li:first-child{ padding-right: 0px; padding-top: 10px; padding-bottom: 10px; border-left: 1px solid #ccc;}
.nav.navbar-nav.report-value-tab-right li{ padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px;}


.dashboard-stat_custom .details{ font-size: 14px;}
.dashboard-stat_custom {
    margin-bottom: 5px;
    overflow: hidden;
}
.dashboard-stat_custom:before, .dashboard-stat_custom:after {
    content: " ";
    display: table;
}
.dashboard-stat_custom:after {
    clear: both;
}
.portlet .dashboard-stat_custom:last-child {
    margin-bottom: 0;
}
.dashboard-stat_custom .visual {
    width: 80px;
    height: 33px;
    display: block;
    float: left;

    padding-left: 15px;
    font-size: 35px;
    line-height: 35px;
}
.dashboard-stat_custom .visual > i {
    margin-left: 0px;
    font-size: 110px;
    line-height: 110px;
}
.dashboard-stat_custom .details {
    /* position: absolute;
     right: 15px;
     padding-right: 15px;
    */
}
.dashboard-stat_custom .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: 300;
}
.dashboard-stat_custom .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
}
.dashboard-stat_custom .more {
    clear: both;
    display: block;
    padding: 6px 10px 6px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.dashboard-stat_custom .more:hover {
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.dashboard-stat_custom .more > i {
    display: inline-block;
    margin-top: 1px;
    float: right;
}

.dashboard-title-1{ color:#575757; font-family: 'Open Sans'; font-size: 16px;}
.dashboard-title-2{ color: #575757; font-family: 'Open Sans'; font-size: 23px;}

.row-br-tb{border-top: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;}
.row-br-b-wp{/*border-bottom: 1px solid #e4e4e4; padding-bottom: 24px !important;*/}
.row-br-b{border-bottom: 1px solid #e4e4e4;}




/*I Icons*/
.fa-report-icon{
    background-image: url(../img/icons/report-icon.png);
    background-repeat: no-repeat;
    height: 31px !important;
    width: 25px !important;
}

.hdr{ background-color: #fff;}

.small-input #catalogue_id{ width: 78%; float: left; margin-right: 7px;}
.small-input .error{ float: left;}

/*Modal CSS Handling*/
.modal-body label{ font-size: 13px;}

.margin-bottom{ margin-bottom: 20px;}


.table-spacing td{ padding: 10px;}

.form-btn-margin-top{ margin-top: 25px;}

.row-margin-zero{ margin-left: 0px; margin-right: 0px;}

.btn.btn-primary {
    background-color: #35aa47;
}
.map-buttons-download{ height: 38px;}
.map-padding-zero{ padding: 0px !important;}

.baseLayersDiv label{
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    padding-left: 8px;
}


.labelSpan.olButton{
    padding-left: 8px;
}

/*Responsive Layouts*/
@media (min-width: 768px) and (max-width: 991px) {
    .widget.widget-tabs > .widget-head.dashboard-widget ul li.active{
        height: 78px !important;

    }
    .widget-head.dashboard-widget {
        height: 167px;
    }



}

@media (max-width: 480px) {
    .widget-head.dashboard-widget {
        height: 167px;
    }
    .header.navbar{ height: 109px !important; min-height: 134px !important;}
    .header-inner ul.navbar-nav{ margin-top: 30px !important;}
    .header {
        filter: none !important;
        /*background-image: none !important;
        background-color: #fafafa !important; */
        background-image: url(../img/landing-images/header_Slice_480.jpg);
    }

    .nav.navbar-nav.partners > li{ float: left;}

    .dashboard-stat_custom.pull-right{ float: left !important;}
    .report-tab li{ float: left !important;}
}

body.custom,
body.custom input{
    cursor: url(http://v.lmis.gov.pk/images/ajax-loader.gif), wait;
}